@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: 'AlValenciaga';
  src: url('/fonts/AlValenciaga.ttf') format('ttf'),
       url('/fonts/AlValenciaga.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, "AlValenciaga",Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
