@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'AlValenciaga'; 
  src: url('/font/AlValenciaga.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('/font/PlayfairDisplay.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/font/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; 
}

@layer utilities {
  .customfont {
    font-family: 'AlValenciaga', sans-serif; 
  }

  .subheading {
    font-family: 'PlayfairDisplay', sans-serif;
  }

  .content {
    font-family: 'Lato', sans-serif;
  }
}

